<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Шкільний портал{% endblock %}</title>
</head>
<body>

    <header>
        <nav>
            <a href="/">Шкільний Портал</a> | 
            <a href="{% url 'events_and_calendar:event_list' %}">Календар подій</a>
            
            {% if user.is_authenticated %}
                <span>| Вітаємо, {{ user.username }}!</span>
                {% if user.is_staff %}
                    <a href="/admin/">Адмінка</a>
                {% endif %}
            {% else %}
                <a href="/admin/login/">Увійти</a>
            {% endif %}
        </nav>
    </header>

    <hr>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <hr>

</body>
</html>