{% extends 'base.html' %}

{% block title %}{{ event.title }} — Шкільний портал{% endblock %}

{% block content %}
    <p><a href="{% url 'events_and_calendar:event_list' %}">← Назад до списку подій</a></p>

    <article>
        <h1>{{ event.title }}</h1>
        
        <p><strong>Час початку:</strong> {{ event.start_time|date:"d.m.Y H:i" }}</p>
        
        {% if event.end_time %}
            <p><strong>Час закінчення:</strong> {{ event.end_time|date:"d.m.Y H:i" }}</p>
        {% endif %}
        
        {% if event.location %}
            <p><strong>Місце проведения:</strong> {{ event.location }}</p>
        {% endif %}
        
        {% if event.author %}
            <p><strong>Організатор:</strong> {{ event.author }}</p>
        {% endif %}

        {% if event.description %}
            <div>
                <h3>Опис:</h3>
                <p>{{ event.description|linebreaks }}</p>
            </div>
        {% endif %}
    </article>
{% endblock %}